[buildout]                                                                      
develop = .
parts = interpreter test
extends = http://grok.zope.org/releaseinfo/grok-1.1.1.cfg
versions = versions


[versions]
grokcore.view = 1.13.5
zope.app.wsgi = 3.9.2
zope.app.appsetup = 3.14.0


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.clipboard
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.clipboard
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
